#tag1{
  color: rgb(243, 14, 14);
}
.auther-name{
  color: red;
  background-color: rgb(112, 112, 247);
}
#div1{
  font-family: cursive;
  background-color: rgba(218, 218, 248, 0.733); border: 10px solid yellowgreen;
  border-radius: 10px;
}